spring:
  datasource:
    url: jdbc:mysql://localhost:3306/dp?createDatabaseIfNotExist=true&allowPublicKeyRetrieval=true&tinyInt1isBit=false
    username: root
    password: Op009oP!
  jpa:
    hibernate.ddl-auto: validate
    show-sql: false
  mail:
    host: smtp.gmail.com
    username: 44.dev.pab@gmail.com
    password: Vb2008Te
    port: 587
    properties:
      mail.smtp:
       auth: true
       starttls.enable: true

blog:
  title: DevPub
  subtitle: Рассказы разработчиков
  phone: +7 903 666-44-55
  email: mail@mail.ru
  copyright: Дмитрий Сергеев
  copyrightFrom: 2005
